.gitignore
.idea/
*.jpg
.venv-rect
models/weights/checkpoints*
*pycache*
CrashNet*
# trace files
track-traces/
simulation/RLtrain-*
simulation/RLtest*
simulation/results*
simulation/images
simulation\agent_test_runs
simulation/agent_test_runs
simulation/agent_test_runs/*
simulation/agent_test_runs/*/*
simulation/west_coast_usa-roads400-expanded.png
